@page "/todo" 
<EditForm Model="request" OnValidSubmit="AddTodo">
    <FluentValidationValidator />
    <TextEdit class="form-control" @bind-Text="request.Text"></TextEdit>
    <ValidationMessage For="() => request.Text"></ValidationMessage>
    <Button Color="Color.Primary" Type="ButtonType.Submit">Senda</Button>
</EditForm>

@if(todos != null)
{
  <Table>
      <TableHeader>
          <TableRow>
              <TableHeaderCell>Tex</TableHeaderCell>
          </TableRow>
      </TableHeader>
      <TableBody>
          @foreach(var todo in todos)
          {
              <TableRow>
                 <TableRowCell>@todo.Text</TableRowCell>
              </TableRow>
          }
      </TableBody>
  </Table>
}

